*{
    text-decoration: none;
}
body{
    background: #000;
    font-family: 'Questrial', sans-serif;
}
header {
   position: fixed;
   z-index: 99;
   width: 100%;
}
.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #000;
}
.nav_links li{
    display: inline-block;
    padding: 0 20px;
}
.nav_links li a {
    font-size: 15px;
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #e0e1dd;
    transition: all 300ms ease 0s;
}
.nav_links li a:hover {
    color: #0088a9;
}
.contact_button a, .contact_button2 a{
    color: #e0e1dd;
    padding: 9px 25px;
    background-color: rgb(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms ease 0s;
}
.contact_button a:hover, .contact_button2 a:hover{
    background-color: rgb(0,136,169,.8);
}
.page_wrapper{
    
    min-height: 100%;
}
#main_section {
    height: 100vh;
    padding-top: 56px;
 }
 

 /* MAIN SECTION */
 .gif_container {
     height: 100%;
     width: 85%;
     margin: auto;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 .gif {
     text-align: center;
 }
 .tut_button{
     padding-top: 30px;
 }
 .tut_button a {
    color: #e0e1dd;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(0,136,169,1);
    transition: all 300ms ease 0s;
 }
 .tut_button a:hover{
    background-color: rgb(0,136,169,.8);
}
 .gif_container img {
     height: 400px;
     border-radius: 10px;
     animation: gif_enter 1s ease forwards 0s
 }
 @keyframes gif_enter{
     0%{
         opacity: 0;
         transform: translateX(-50px);
     }
     
     100%{
        opacity: 1;
        transform: translateX(0px);
    }
 }
 .gif_text{
     width: 40%;
     padding: 10px 5%;
     color: #e0e1dd;
     text-align: center;
 }
 .gif_text h1{
    font-family: 'Montserrat Subrayada', sans-serif;
     font-size: 25px;
     font-weight: 500;
     padding: 0 0 20px;
 }
 /* tags */
 .tagss {
     padding-top: 20px;
 }
.tags_button1 a, .tags_button2 a, .tags_button3 a, .tags_button4 a, .tags_button5 a{
    color: #e0e1dd;
    padding: 5px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    line-height: 2;
}
 .tags_button1 a{
    background-color: rgb(59,0,154,.8);
    transition: all 300ms ease 0s;
}
.tags_button1 a:hover{
    background-color: rgb(59,0,154,1);
}
.tags_button2 a{
    background-color: rgb(230,52,98,.81);
    transition: all 300ms ease 0s;
}
.tags_button2 a:hover{
    background-color: rgb(230,52,98,1);
}
.tags_button3 a{
    background-color: rgb(4,167,119,.8);
    transition: all 300ms ease 0s;
}
.tags_button3 a:hover{
    background-color: rgb(4,167,119,1);
}
.tags_button4 a{
    background-color: rgb(252,81,48,.8);
    transition: all 300ms ease 0s;
}
.tags_button4 a:hover{
    background-color: rgb(252,81,48,18);
}

.tags_button5 a{
    background-color: rgb(242,173,0,.8);
    transition: all 300ms ease 0s;
}
.tags_button5 a:hover{
    background-color: rgb(242,173, 0,1);
}

/* info */
#info_section{
    padding: 90px 0;;
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.info_container1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 30px;
}
.info1, .info2, .info3, .info4{
    background-color: rgb(0,136,169,.4);
    height: 200px;
    width: 500px;
    border-radius: 5px;
    text-align: justify;
    padding: 20px 70px;
    transform: translateY(0);
    transition: all 500ms ease 0s;
    -webkit-box-shadow: 8px -2px 10px 1px rgba(0,135,169,0.2);
    -moz-box-shadow: 8px -2px 10px 1px rgba(0,135,169,0.2);
    box-shadow: 8px -2px 10px 1px rgba(0,135,169,0.2);
}
.info1:hover, .info2:hover, .info3:hover, .info4:hover{
    transform: translateY(-5px);
    background-color: rgb(0,136,169,.5);
    -webkit-box-shadow: 8px 6px 10px 1px rgba(0,135,169,0.3);
    -moz-box-shadow: 8px 6px 10px 1px rgba(0,135,169,0.3);
    box-shadow: 8px 6px 10px 1px rgba(0,135,169,0.3);
}

.info1 h1, .info2 h1, .info3 h1, .info4 h1{
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #e0e1dd;
     font-size: 25px;
     font-weight: 500;
     padding: 10px 0;
     display: block;

}
.info1 p, .info2 p, .info3 p, .info4 p{
    height: 90px;
    color: #e0e1dd;
    font-size: 14px;
}
.seemore a{
    color: #e0e1dd;
    font-size: 13px;
    padding: 5px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(0,0,0,.5);
    transition: all 300ms ease 0s;
 }
 .seemore a:hover{
    background-color: rgb(0,0,0,.8);
}
/* about */
#about_section{
    padding-top: 56px;
    height: 500px;
    width: 100%;
    background-image: url("https://i.pinimg.com/originals/df/f3/76/dff376c302ca0d296bca1cfc640973b4.gif");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.text_about{
    height: 300px;
    width: 400px;
    /* background-color: tomato; */
    text-align: center;
}
.text_about p {
    display: inline;
    margin: auto;
    color: #e0e1dd;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 30px;
    padding: 10px 30px;
    font-weight: 400;
    border-radius: 50px;
    background-color: rgb(0,0,0,.7);
}
.inputdiv{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    position: relative;
    width: 300px;
    height: 50px;
}
.inputdiv h1 {
    display: inline;
    margin: auto;
    color: #e0e1dd;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    padding: 13px 20px;
    font-weight: 400;
    border-radius: 50px;
    background-color: rgb(0,0,0,.7);
}
.form input{
    width: 100%;
    height: 100%;
    color: #e0e1dd;
    padding-top: 20px;
    border: none;
    font-size: 16px;
    background-color: transparent;
    outline: none;
}
.form label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: #e0e1dd;
    pointer-events: none;
    border-bottom: 1px solid #e0e1dd;
}
.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 300ms ease;
}
.form input:focus + .label-name .content-name, 
.form input:valid + .label-name .content-name{
    transform: translateY(-150%);
    font-size: 12px;
    color: #d1d1d1;
}
/* history */
#history_section{
    height: 100vh;
}


#navlogo{
    position: relative;
    text-transform: uppercase;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: transparent;
    white-space: nowrap;
}
#navlogo:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 1px solid #fff;
    white-space: nowrap;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(0,186,255,1) 0%, rgba(13,0,194,1) 50%, rgba(82,0,168,0.9920343137254902) 100%);
    -webkit-background-clip: text;
    color: transparent;
    animation: type 6s steps(6) infinite;
}
@keyframes type{
    0%{
        width: 0;
    }
    70%{
        width: 100%;
    }
    90%{
        width: 100%;
    }
    100%{
        width: 0;
    }
}
.nav_logo{
    display: flex;
    width: auto;
}
.nav_logo span {
    text-transform: uppercase;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #d1d1d1;
}

/* burger menu */
.label {
    display: none;
}
#toggle {
    display: none;
}

/* FOOTER */
.footer{
    color: #d1d1d1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
}
.footer_cont{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.soc_links a{
    color: #d1d1d1;
    padding: 10px 20px;
}
.soc_links {
    padding-top: 20px;
    display: flex;
}
.soc_links p{
    padding: 0 20px;
}
.soc_button1 a, .soc_button2 a, .soc_button3 a, .soc_button4 a{
   color: #e0e1dd;
   padding: 5px 15px;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   line-height: 2;
   background-color: rgb(255,255,255,.3);
   transition: all 300ms ease 0s;
}
.soc_button1 a:hover, .soc_button2 a:hover, .soc_button3 a:hover, .soc_button4 a:hover{
    background-color: rgb(255,255,255,.5);
}
.footer_text{
    text-align: center;
    padding: 30px 0;
    line-height: 1.4;
    font-size: 18px;
    width: 60%; 
}
.footer_text p {
    font-family: 'Montserrat Subrayada', sans-serif;
}

.footer-bottom {
	height: 30px;
	width: 100%;
	text-align: center;
    padding-top: 20px 0;
    color: #d1d1d1;
}

.footer-bottom span a {
    color: #d1d1d1;
    font-weight: 500;
	transition: .3s;
}

.footer-bottom span a:hover {
	color: #0088a9;
}
.contact_button2{
    display: none;
}